
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: wheat;
}

header {
    background-color: #387373;
    color: #E4F2E7;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 28px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 16px;
    line-height: 1.6;
}

.blog-post {
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.blog-post h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.blog-post p {
    font-size: 16px;
    line-height: 1.6;
}
